<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63140138664-cf3nnin8d36l26h86n4lob1t4pn9ojhc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63140138664-cf3nnin8d36l26h86n4lob1t4pn9ojhc</string>
	<key>API_KEY</key>
	<string>AIzaSyAXG1wHVKcmlLjgWDcrtqLweyFwb2wjn5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>63140138664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>automaticai1.FirebaseAccountSystem</string>
	<key>PROJECT_ID</key>
	<string>fir-systembaseline</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-systembaseline.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63140138664:ios:9eb4977e617e7ea69a7c9d</string>
</dict>
</plist>